@tailwind base;
@tailwind components;
@tailwind utilities;

.transition1 {
  @apply transition duration-200 ease-in-out;
}

.iconSize {
  @apply text-[24px];
}

.mainGap {
  @apply gap-[15px];
}

.maxWidth {
  @apply max-w-[1400px] mx-auto;
}

.paddingX {
  @apply px-[12px];
}

.paddingIcon {
  @apply p-[6px];
}

.pagesPaddingX {
  @apply px-[18px]; /* paddingX + paddingIcon */
}

.cardShadow {
  @apply shadow-[0_5px_15px_#e2e8f0];
}

.cardShadow2 {
  @apply shadow-[0_5px_3px_#e2e8f0];
}

.cardShadow3 {
  @apply shadow-[0_10px_50px_-12px_rgba(0,0,0,0.1)];
}

.textHeaderPosition {
  @apply mb-[20px] w-full flex md:items-center flex-col;
}

.textHeaderPosition2 {
  @apply mb-[20px] w-full;
}

.subtitle {
  @apply text-[14px] text-gray-500 font-light;
}

.subheader {
  @apply font-semibold text-[18px];
}

.price {
  @apply font-semibold text-[18px];
}

.discountPrice {
  @apply font-medium text-[14px] line-through text-gray-400;
}
